__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.venv/
venv/
env/
build/
dist/
reports/
*.log
*.json
*.html
!templates/*.html.j2
!examples/*.json
.ipynb_checkpoints/
.vscode/
.idea/
*.swp
.DS_Store
